@use "_variables" as *;
@use "_mixins-media" as *;

.articles-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap-sm;
  margin-left: $gap-md;
  margin-right: $gap-md;
  margin-bottom: $gap-xs;

  & > *:first-child {
    grid-column: span 2;
  }

  @include ultra-min {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    & > *:first-child {
      grid-column: span 4;
    }
  }

  @include lg {
    display: grid;
    grid-template-columns: 1fr;

    & > * {
      grid-column: 1 / -1;
    }
  }
}

.article--fullwidth {
  grid-column: span 2;
}

.article {
  break-inside: avoid-column;
  margin-bottom: $gap-lg;

  &--top {
    margin-left: $gap-md;
    margin-right: $gap-md;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: $font-sm;
    align-items: center;
  }

  &__date {
    font-weight: 400;
    color: $color-font-light;
  }

  &__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $gap-xxs;
  }

  &__avatar-frame {
    border-radius: 10px;
    display: inline-block;

    img {
      object-fit: cover;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      filter: grayscale(1);
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 300px;
    margin-top: $gap-xxs;
    margin-bottom: $gap-sm;
    filter: grayscale(1);

    @include ultra-min {
      height: 420px;
    }
  }

  &__image--full {
    object-fit: cover;
    width: 100%;
    margin-top: $gap-xxs;
    margin-bottom: $gap-sm;
    filter: grayscale(1);
  }

  &__text {
    font-size: $font-sm;
    text-align: justify;
    column-count: 1;
    column-gap: $gap-sm;
    margin-bottom: $gap-sm;
    max-height: 180px;
    overflow: hidden;
  }

  &__text--full {
    font-size: $font-sm;
    text-align: justify;
    column-count: 1;
    column-gap: $gap-sm;
    margin-bottom: $gap-sm;
  }

  &__button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: $gap-xxs;
    margin-right: $gap-xs;

    span {
      font-weight: 500;
      font-size: $font-sm;
    }
  }

  h2 {
    text-align: center;
    font-size: $font-lg;
    padding: 0;
    margin: 0;
    margin-bottom: $gap-md;
  }

  h3 {
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: $font-md;
    padding: 0;
    margin: 0;
    margin-bottom: $gap-sm;
  }
}

.article--small {
  .article__image {
    height: 240px;
  }

  .article__text {
    column-count: 1;
  }
}

.articles__empty {
  text-align: center;
}
