@use "_variables" as *;
@use "_mixins-media" as *;

.footer {
  padding-top: $gap-xl;
  justify-self: center;
  width: $container-xl;

  @include lg {
    width: 94%;
  }

  @include md {
    width: 94%;
  }

  &__subgrid {
    display: grid;
    grid-template-columns: 3fr 2fr;

    @include md {
      width: 94%;
      grid-template-columns: 3fr 1fr;
    }
  }

  &__info {
    margin-right: $gap-xxl;
    text-align: justify;
  }

  &__copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: $border-sm;
    padding: $gap-xs;
    margin-top: $gap-lg;
  }

  &__header {
    font-size: $font-md;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    margin-bottom: $gap-lg;
  }

  p {
    margin-bottom: $gap-md;
    font-weight: 300;
    font-size: $font-sm;
  }
}

.footer-nav {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap-xs;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include md {
      column-count: 1;
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    margin-bottom: $gap-xs;
  }
}
