@use "_variables" as *;
@use "_mixins-media" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: $gap-xs;
  align-items: center;
  margin-bottom: $gap-xxl;

  div {
    justify-items: center;
    div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      label {
        background-color: $color-font;
        margin: 0;
        padding: $gap-xxs $gap-sm;
        color: $color-background;
        font-size: $font-sm;
        width: 90px;
        margin-bottom: $gap-xxs;
      }

      input {
        min-width: 300px;
        min-height: 29px;
        border-radius: 0;
        padding-left: $gap-xs;
        padding-right: $gap-xs;
        margin-bottom: $gap-xxs;

        @include md {
          min-width: 280px;
        }
      }

      @include md {
        flex-direction: column;
      }
    }
  }

  &__error {
    color: $color-duotone-two;
    font-size: $font-sm;
    justify-content: center;
    width: 320px;
    text-align: center;
  }

  button {
    font: inherit;
    cursor: pointer;
    border: none;
    width: 460px;
    padding: $gap-xs;
    background-color: $color-font;
    color: $color-background;
    transition: box-shadow 0.2s ease-in-out;
    font-size: $font-md;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: $gap-sm;

    @include md {
      width: 310px;
    }
  }

  button:hover {
    box-shadow: $shadow-stereo;
    color: $color-duotone-one;
  }

  p {
    padding: 0;
    margin: 0;
  }
}
