@use "_variables" as *;
@use "_mixins-media" as *;

.navbar {
  margin-top: $gap-md;
  padding-right: $gap-md;

  &__list {
    display: flex;
    flex-direction: column;
    list-style-position: outside;
    margin-left: -18px;
  }

  &__item {
    display: block;
    padding-bottom: $gap-sm;
    padding-top: $gap-sm;
    border-bottom: $border-sm;
  }

  &__link {
    display: inline-block;
    font-size: $font-md;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-font;
    stroke-width: 1px;
    transition: scale ease-in 0.1s;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
  }

  &__link:hover {
    text-shadow: $shadow-mono;
    scale: 1.03;
  }

  @include md {
    margin-top: 0;
    padding-right: 0;
    border-bottom: $border-md;

    &__menu {
      display: flex;
      flex-direction: row;
      gap: $gap-xs;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      display: block;
      padding-bottom: 0;
      padding-top: 0;
      border-bottom: none;
    }
  }
}
