@use "_variables" as *;
@use "_mixins-media" as *;

.sidebar {
  padding-left: $gap-md;
  margin-bottom: $gap-lg;
  padding-top: $gap-md;

  &__block {
    border-bottom: $border-sm;
    padding-bottom: $gap-md;
    margin-right: $gap-md;

    @include lg {
      margin-top: $gap-sm;
      border-bottom: none;
      padding-bottom: $gap-sm;
      margin-right: 0;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    transition: scale ease-in 0.1s;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: $gap-xs;

    @include lg {
      padding-left: $gap-md;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
  }

  &__link {
    display: flex;
    flex-direction: row;
    gap: $gap-xxs;
    align-items: center;
    font-size: $font-sm;
    font-weight: 400;
    text-decoration: none;
    color: $color-font;
    transition: scale ease-in 0.1s;
  }

  &__link:hover {
    text-shadow: $shadow-mono;
    scale: 1.03;
  }

  @include lg {
    padding-top: 0;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: $gap-md;
    margin-bottom: $gap-md;

    h3 {
      padding-left: $gap-md;
    }
  }

  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap-md;
    margin-bottom: $gap-md;

    & > *:last-child {
      grid-column: span 2;
    }
  }
}

.random {
  margin-top: $gap-md;
  text-align: center;

  h3 {
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: $font-md;
    padding: 0;
    margin: 0;
    margin-bottom: $gap-sm;
  }

  &__link-block {
    display: flex;
    flex-direction: row-reverse;
  }

  &__link-span {
    font-size: $font-sm;
  }

  @include lg {
    padding-right: $gap-md;
    padding-left: $gap-md;
    border-left: $border-sm;
  }

  @include md {
    padding-top: $gap-md;
    border-top: $border-sm;
    border-left: none;
  }
}
