@use "components" as *;

body {
  background-color: $color-background;
  font-family: $font-primary;
  color: $color-font;
  font-size: $font-md;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: $container-xxl;
  border-bottom: $border-md;
}

.container-main {
  border-left: $border-md;
  border-right: $border-md;
  padding-left: $gap-md;
  padding-right: $gap-md;
  padding-top: $gap-md;
}

.sidebar {
  padding: $gap-md;
}
